body {
  height: 100% !important;
  width: 100% !important;
  position: absolute;
  padding-right: 24px;
  padding-left: 24px;
}

.App {
  height: 100% !important;
  width: 100% !important;
  position: absolute;
}

.App canvas#viewport {
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
  width: 100% !important;
  height: 100% !important;
/*  position: relative !important; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
}

.App-title {
  text-align: center;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
